.data-entity {
  flex: 1;
  padding: 2.4rem 3rem;
}
.data-entity-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.3rem;
  h3 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: var(--text-grey);
    font-weight: 600;
    margin: 0;
  }
}
.input-group {
  margin-bottom: 3rem;
  label {
    display: block;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--text-grey);
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  input {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--black);
    background: var(--input-bg-color);
    border: 0.2px solid var(--border-color);
    border-radius: 5px;
    padding: 0.7rem 1.4rem;
  }
}
.subtitle {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--text-grey);
  margin: -1rem 0 1rem;
}
